@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/mixins';
@import 'libs/slick';
@import 'base/variables';

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $text;
}

a {
    text-decoration: none;
    color: $text;
    text-decoration: none;

    &:hover {
        color: $text;
        text-decoration: underline;
    }
}

ul,
li,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.container-fluide {
    max-width: 1920px;
    margin: 0 auto;
}

@import 'blocks/index/contact';
@import 'blocks/index/header';
@import 'blocks/index/slider';
@import 'blocks/index/description';
@import 'blocks/index/courses';
@import 'blocks/index/exams';
@import 'blocks/index/events';
@import 'blocks/index/news';
@import 'blocks/index/footer';

@import 'blocks/other/breadcrumbs';
@import 'blocks/other/buttons';
@import 'blocks/other/titles';

@import 'blocks/payment/payment';

@import 'blocks/exams/examsHSK';

@import 'blocks/contacts/contact_page';

@import 'base/media';